.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.managerForm {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

.form_control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ededed;

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    width: calc(50% - 5px);
    padding: 10px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-color);
}
