
* {
    box-sizing: border-box;
}

.container {
    border: 1px solid #ccc;
    min-width: 900px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.manager {
    display: flex;
    min-width: 850px;
    align-items: flex-start;
    border: 2px solid var(--button-color);;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.managerInfo {
    padding-left: 20px;
}

.managerInfo > div {
    width: 260px;
    color: #333;
}

.managerStatistic {
    width: 150px;
    padding: 0 10px;
}

.managerButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.managerButtons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    height: 45px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--button-color);
}

.managerButtons button:hover {
    background-color: var(--active-color);
}

.statistic_statuses {
}

.statistic_status {
    font-size: 15px;
}
