* {
    box-sizing: border-box;
}

.footer {
    min-height: 50px;
    width: 100%;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}